---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Terminal from '../components/sections/Terminal.astro';
import Telemetry from '../components/sections/Telemetry.astro';
import Ecosystem from '../components/sections/Ecosystem.astro';
import Footer from '../components/layout/Footer.astro';
import SectionDivider from '../components/ui/SectionDivider.astro';
---

<Layout title="OmniCore Framework - Build Intelligent Infrastructure Beyond Automation">
	<Header />
	<main>
		<Hero />
        <SectionDivider />
		<Terminal />
        <SectionDivider />
		<Telemetry />
        <SectionDivider />
		<Ecosystem />
	</main>
	<Footer />
</Layout>
