---

---

<div class="flex w-full items-center justify-center py-8 opacity-60">
  <div
    class="via-primary/40 to-primary h-[1px] flex-grow bg-gradient-to-r from-transparent"
  >
  </div>
  <div class="bg-primary mx-6 h-3 w-3 rotate-45 shadow-[0_0_15px_#44f688]">
  </div>
  <div
    class="via-primary/40 to-primary h-[1px] flex-grow bg-gradient-to-l from-transparent"
  >
  </div>
</div>
